/*Add your CSS here*/
* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
  color: ##948b8b;
}

h1 {
  font-size: 40px;
}

h2 {
  color: midnightblue;
}

img {
  width: 100%;
  height: auto;
}

.caption {
  color: darkslategray;
  font-style: italic;
}

a:link {
  color: indigo;
}

a:visited {
  color: purple;
}

a:hover {
  color: crimson;
}

a:active {
  color: firebrick;
}

footer a:hover {
  text-decoration: none;
}

/*Can't touch below, so I put it up here*/
p {
  text-align: center;
}

nav a {
  margin: 0 1rem;
  font-size: 15px;
  text-decoration: none;
}

/*No touch*/
h1, h2, nav, .cap, footer {
  text-align: center;
}

nav {
  padding: 1rem 0 2rem 0;
}

figure, h2, footer {
  padding-bottom: 1rem;
}

section {
  padding: 2rem 0;
}

p{
  margin: 0 10vw;
}
